<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="kr.or.ddit.user.model.UserVO" alias="userVo" />
		<typeAlias type="kr.or.ddit.board.model.BoardVO" alias="boardVo" />
		<typeAlias type="kr.or.ddit.notice.model.NoticeVO" alias="noticeVo" />
		<typeAlias type="kr.or.ddit.noti_comment.model.Noti_commentVO" alias="noti_commentVo" />
		<typeAlias type="kr.or.ddit.uploadFile.model.UploadFileVO" alias="uploadFileVo" />
		<typeAlias type="kr.or.ddit.paging.model.PageVO" alias="pageVo" />
	</typeAliases>
	
	<mappers>
		<mapper resource="kr/or/ddit/config/mybatis/mapper/user.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/board.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/notice.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/noti_comment.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/uploadFile.xml" />
	</mappers>
</configuration>